{% extends 'base.html' %}
{% block content %}
{% load static %} 
<div class ='container'>
    <div class="d-flex align-items-center flex-column">
        <div class="alert alert-success" role="alert">
        <h1  style='font-family: Roboto Mono, ; font-size: 18px;'>Successful SignUp!</h1>
        </div>
    </div>
    <div class="d-flex align-items-center flex-column">
        <img style='width:300px; height: 300px;' src="{% static 'WebsiteNewLogo (1).png' %}" alt="">
    <h4 style='font-family: Roboto Mono, ; font-size: 18px;'>First Name</h4>
    <p style='font-family: Roboto Mono, ; font-size: 13px;'>{{parent.first_name}}</p>
    <h4 style='font-family: Roboto Mono, ; font-size: 18px;'>Last Name</h4>
    <p style='font-family: Roboto Mono, ; font-size: 13px;'>{{parent.last_name}}</p>
    <h4 style='font-family: Roboto Mono, ; font-size: 18px;'>Phone Number</h4>
    <p style='font-family: Roboto Mono, ; font-size: 13px;'>{{parent.phone}}</p>
    <h4 style='font-family: Roboto Mono, ; font-size: 18px;'>Email</h4>
    <p style='font-family: Roboto Mono, ; font-size: 13px;'>{{parent.email}}</p>
    </div>

    
</div>


{% endblock %}