{% extends 'base.html' %}
{% block content %}
{% load static %} 


  

  


<div  class='container-fluid '>
  
  <div style='max-height: 50%; padding-top: 20px;'   class ='embed-responsive embed-responsive-21by9 container-xl d-flex justify-content-center align-items-center '>
    
    <iframe style='height:300px;'   class="embed-responsive-item w-75 "  src="https://www.youtube.com/embed/eTh-09JqK1k" title="YouTube video player" frameborder='0'  allowfullscreen></iframe>
    
  </div>
</div>



  <div class="card bg-light " style="width: 100%;">
  <!-- <h4 style='font-family: Roboto Mono, ; font-size: 38px; font-weight: 900; color: #2c26d8; ' class="text-center">About Kidz Kamp</h4> -->

<div class="card-body text-center ">
    <h1 class='card-title' style='font-family: Chilanka, cursive;  font-size: 38px; font-weight: 900; color: #2c26d8; '>About Kidz Kamp</h1>
    
   <ul style='font-family: Roboto Mono, ; font-size: 18px; '>
    <li style='display: flex; align-items: center;'>
      Kidz Kamp provides high quality, active-based after school childcare for Doyle Elementary students during the school year and transition to a day camp open to all school-age children during school breaks including Thanksgiving Break, Winter Break, Spring Break, and Summer Break.
    </li>
    <li style='display: flex; align-items: center;'>
      Our quality of care is maintained through a highly qualified staff, communication and involvement within the community, consistent adherence to child safety protocols, and purposeful daily planning of activities.
    </li> 
    <li style='display: flex; align-items: center;'>
      We offer year-round youth programs upholding a high standard, maintaining our core values and following all safety protocols is the top priority. 
    </li>
    </ul>
    
  <a target="_blank" href="{% static 'Summer 2021 Codes Kidz Kamp.pdf' %}" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Summer Flyer</a>
</div>
</div>


        
          <div class='d-flex justify-content-around' >
        <a href="{% url 'summer' %}">
            <img class="w-100 shadow-lg p-3 mb-5 bg-body rounded "src="{% static 'WebsitePads (1).png' %}"  />
        </a>
        <a href="{% url 'afterschool' %}">
          <img class="w-100 shadow-lg p-3 mb-5 bg-body rounded"src="{% static 'WebsiteNewAfterschool.png' %}"  />
      </a>
      
    </div>
    
    
      <!-- <iframe class="embed-responsive-item " width="957" height="538" src="https://www.youtube.com/embed/eTh-09JqK1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    
     
        
        
      <div class='container-fluid d-flex justify-content-between row align-items-center '>
        
        <div class="container col ">
        <h1 style='font-family: Chilanka, cursive; font-size: 38px; font-weight: 900; color: #2c26d8; '>What Parents Are Saying</h1>
        
      </div>
        <!-- <div class='card d-flex justify-content-around align-items-center' > -->
          
    <div class="card-body col  p-2">
      
    <blockquote class="blockquote mb-0">
      <img src="{% static 'quote.png'%}" style='width:20px; height: 20px;' alt=""/>
      <p style='font-family: Roboto Mono, ; font-size: 11px;'><i>Amazing.. Trustworthy.. Caring.. My daughter has attended Kids Kamp for 4 years. Grant & his whole staff is amazing. During this time my daughter wanted to attend to some other camp for a change but these guys are so amazing, caring for your kid that you don't want to take any chance.</i></p>
      
      <footer style='font-family: Roboto Mono, ; font-size: 18px;' class="blockquote-footer">Rashi M. <cite title="Source Title">6/25/2019</cite></footer>
    </blockquote>
    </div> 
 
  <!-- </div> -->
  <!-- <div class='card d-flex justify-content-around align-items-center' > -->
    <div class="card-body d-flex justify-content-between p-2 col">
      <blockquote class="blockquote mb-0">
        <p style='font-family: Roboto Mono, ; font-size: 11px;'><i>Love Kidz Kamp for my kids. The staff is amazing, carrying and have great communication with the kids. They get to be involved in many activities indoors as well as outdoor. There is also time for homework if it's a priority. I know my kids are in good hands when they are there.</i></p>
        <footer style='font-family: Roboto Mono, ; font-size: 18px;' class="blockquote-footer">Rikki A. <cite title="Source Title">2/25/2020</cite></footer>
      </blockquote>
    </div>
  <!-- </div> -->
  <!-- <div class='card d-flex justify-content-around' > -->
    <div class="card-body mr-auto p-2 col">
      <blockquote class="blockquote mb-0">
        <p style='font-family: Roboto Mono, ; font-size: 11px;'><i>Love this place and so does my daughter! Grant, Angie and all of the other counselors are awesome! Love how encouraging they are to all the kids! I highly recommend them for after school care! Can't wait to use them for summer care!</i></p>
        <footer style='font-family: Roboto Mono, ; font-size: 18px;' class="blockquote-footer">Pamela D. <cite title="Source Title">3/22/2019</cite></footer>
      </blockquote>
    </div>
  <!-- </div> -->
    
    </div>
   
    

</div>
            

      
      {% endblock %}

      