{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <!-- <h1 style='font-size: 40px;font-family: Chilanka, cursive;'>Photos</h1> -->
    <div class='container'>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'Cover.jpeg'%}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px; font-family: Chilanka, cursive'>Kidz Kamp Crew</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Enjoying free time in the Gym!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Grass.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Outside Playtime</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;;'>Bubbles wands!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Room.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Raffle Winners</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Our Raffle Winners Enjoying Their Well Earned Prizes!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'O-Tag.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Tag!</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Playing Tag with the Staff!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Sitting.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>New Playground</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Waiting for the New Playground to Open!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Indoor.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Indoor Games</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Playing a Group game inside!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'doylepark.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Our Playground</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>New Playground At Doyle</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Sand.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Second Playground</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Playing With The SandToys</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Girls.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Having Fun</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Free Play Time!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Craft.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style='font-size: 50px;font-family: Chilanka, cursive;'>Craft</h5>
            <p style='font-size: 30px;font-family: Chilanka, cursive;'>Too Much Glitter</p>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
            

      </div>
{% endblock %}