{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <div class='container'>
        
    <div class="card-body">
        <h1 class='card-title' style='font-family: Roboto Mono, ; font-size: 38px; font-weight: 900; color: #2c26d8; '>KIDZ KAMP AFTER-SCHOOL DETAILS</h1>
        <br>
      <p class="card-text" style='font-family: Roboto Mono, ; font-size: 18px; font-weight: 500;'>
        Kidz Kamp will be opening on April 12, 2021. 
        Open Monday - Thursday from 110pm to 6pm. (If you are in need of a full day of care on Friday's please let me know)
        We will provide after-school care for all Doyle children, regardless of whether they are participating in online only or hybrid instruction. (Do not hesitate to contact me with any questions)
        Operating predominantly as an outdoor program.  We are currently awaiting City guidelines for indoor capacity restrictions as well as City approval for air purifiers/filters. 
        We will have access to a room in Doyle Recreation Center to store student's belongings.
        In case of inclement weather we will be able to pivot into the gym and we will be following the strict County and CDC guidelines regarding indoor activities. 
        Our goal is to focus on socialization and physical activity. Our program will offer arts and crafts, structured games, and free play. </p>
        <h1 class='card-title' style='font-family: Roboto Mono, ; font-size: 38px; font-weight: 900; color: #2c26d8; '>KIDZ KAMP ENROLLMENT DETAILS</h1>
        <p class="card-text" style='font-family: Roboto Mono, ; font-size: 18px; font-weight: 500;'>
        
        To enroll your child(ren) please email @ KIDZKAMP92122@GMAIL.COM (While I wait for the City to finalize its indoor/outdoor guidelines, payments will be made directly to me)
        Then you will receive a registration packet and payment instructions. 
        Your child's spot will be reserved once BOTH payment and registration packet are received prior to the first day back on campus.
        At this time only the weekly rate/M-Th of $110.00 will be available.
        Please note SPACE IS LIMITED.</p>
      
    </div>
    <!-- <embed src="{% static 'Spring 2021 Reg Packet.docx (2).pdf' %}" width="750" height="500" 
 type="application/pdf">
 <iframe src="{% static 'Spring 2021 Reg Packet.docx (2).pdf'   %}" style="width:718px; height:700px;" frameborder="0"></iframe> -->
 <!-- <div class="embed-responsive embed-responsive-21by9">
    <embed class="embed-responsive-item" src="{% static 'Spring 2021 Reg Packet.docx (2).pdf'   %}"></embed>
  </div> -->
  <a href="{% static 'Spring 2021 Reg Packet.docx (2).pdf'   %}" class="btn btn-primary btn-lg btn-block" style='font-family: Roboto Mono, ; '>Spring 2021 Registration Packet</a>
    
</div>
{% endblock %}