{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <div class='container'>
        
    <div style='background-color: #efee4d;' class="card-body">
        <h1 class='card-title' style='font-family: Chilanka, cursive ; font-size: 38px; font-weight: 900; color: #2c26d8; '>KIDZ KAMP AFTER-SCHOOL DETAILS</h1>
        
      <ul class="card-text" style='font-family: Roboto Mono, ; font-size: 18px; font-weight: 500;'>
        <li>
          Our afterschool program offers daily structured games, arts and crafts, homework help and snack
        </li>
        <li>
        Open Monday - Thursday from 2:00pm to 6:00pm. </li>
        <li>
        We will provide after-school care for all Doyle children, regardless of whether they are participating in online only or hybrid instruction. (Do not hesitate to contact me with any questions)
      </li>
    <li>
        Operating predominantly as an outdoor program.  We are currently awaiting City guidelines for indoor capacity restrictions as well as City approval for air purifiers/filters. </li>
      <li>
      We will have access to a room in Doyle Recreation Center to store student's belongings.</li>
    <li> 
        Our goal is to focus on socialization and physical activity. Our program will offer arts and crafts, structured games, and free play. </li>
        </ul>
        <h1 class='card-title' style='font-family: Chilanka, cursive; font-size: 38px; font-weight: 900; color: #2c26d8; '>KIDZ KAMP ENROLLMENT DETAILS</h1>
        <ul class="card-text" style='font-family: Roboto Mono, ; font-size: 18px; font-weight: 500;'>
        <li>
        To enroll your child(ren) please email @ KIDZKAMP92122@GMAIL.COM (While I wait for the City to finalize its indoor/outdoor guidelines, payments will be made directly to me)</li>
      <li>
        Your child's spot will be reserved once their registration packet is received prior to their first day at Kidz Kamp</li>
      </li> The weekly rate M-Th is $110.00 </li>
    <li>  Two Days/Week  for $70.00 </li>
  <li> Please note SPACE IS LIMITED</li>
      </ul>
      
    </div>
    
</div>

<div class='container-fluid d-flex justify-content-center'>
  <a href="{% url 'schoolyear_create'%}" class="btn btn-dark" style='font-family:Chilanka, cursive; font-size: 20px; '>
    Reserve A 2021 School Year Space
  </a>
  <!-- <img  style="height: 250px; border-radius: 3px;" src="{% static 'WebsiteNewAfterschool.png' %}" alt="None"> -->

  <!-- <h2 style='font-family: Chilanka, cursive ; font-size: 18px; font-weight: 900; color: #2c26d8; '>Purchase a Kidz Kamp TShirt</h2>
  <div id="paypal-button-container"></div>
  <script src="https://www.paypal.com/sdk/js?client-id=ASH0xTcb6SHagAIQqsAw96qAkXWvBP7FSwDpv3bQhOovUTKLODYO9Vtc4x6CBCMWgeZwN-fC7z0cJrrV&currency=USD&disable-funding=paylater"></script>
  <script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
      style: {
        color:  'blue',
        shape:  'rect',
        label:  'pay',
        height: 30
      },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '88.44'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script> -->

</div>


{% endblock %}