{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <h1 style='font-family: Chilanka, cursive; font-weight: 900;'>Summer Kidz Kamp</h1>
    <!-- <table>
        <tr>
            <th>Summer Weeks Details</th>
        <td>Weekly Cost</td>
        <td>$222.00</td>

        </tr>
        <tr>
            <th>Daily Rates</th>
        <td>Daily Cost</td>
        <td>$51.00</td>
    </tr>
    </table> -->
    <div style="font-weight: 400;">
    <table style='background-color: #efee4d; color: black;'  class="table">
        <thead>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Weekly Rate</th>
            <th scope="col">Daily Rate</th>
            <th scope="col">Space</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">June 16th-18th</th>
            <td>$121.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 21st - 25th</th>
            <td>$222.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
        </tbody>
      </table>
      </div>
    <a href="{% url 'summer_create'%}" class="btn btn-dark" style='font-family: Roboto Mono;'>
      <h4>Reserve A Spot Now</h4>
    </a>
      



{% endblock %}