{% extends 'base.html' %}
{% block content %}
{% load static %} 
<div class='container d-flex justify-content-center row'>
<a style="text-decoration: none;  " target="_blank" href="{% static 'Summer 2021 Codes Kidz Kamp.pdf' %}" >
    <h4 style='font-family: Chilanka, cursive; font-size: 38px; font-weight: 900; color: blue; '>Kidz Kamp Summer Flyer</h4> 
</a>

<ul style=' font-size: 20px; font-weight: bolder; color: black;'>
<li> During the summer and holiday break camps, we are open from 7:30am to 5:30pm offering a full day of care. </li>
<li>
 Daily structured games, arts and crafts, reading and school work help and snack are all provided during these programs.(Due to COVID-19 restrictions snack will not be provided)
</li>
<li> Our summer program includes weekly field trips, all of which are local and in safe and controlled establishments.(Due to COVID-19 restrictions there will be no field trips)</li>
</ul>
</div>
    <div style="font-weight: 400;">
    <table style='background-color: #efee4d; color: black;'  class="table">
        <thead>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Weekly Rate</th>
            <th scope="col">Daily Rate</th>
            <th scope="col">Space</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">June 16th-18th</th>
            <td>$121.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 21st - 25th</th>
            <td>$222.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">July 6th - July 9th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">July 12th - July 16th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">July 19th - July 23rd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 26th - July 30th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">June 28th - July 2nd</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">August 2nd - August 6th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">August 9th - August 13th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">August 16th - August 20th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
          <tr>
            <th scope="row">August 23rd - August 27th</th>
            <td>$220.00</td>
            <td>$51.00</td>
            <td>Open</td>
          </tr>
        </tbody>
      </table>
      </div>
    <a href="{% url 'summer_create'%}" class="btn btn-dark" style='font-family:Chilanka, cursive; font-size: 20px; '>
      Reserve A Spot Now
    </a>
      



{% endblock %}