{% extends 'base.html' %}
{% block content %}
{% load static %} 
<div class='container d-flex justify-content-center row'>
<a style="text-decoration: none;  " target="_blank" href="{% static 'Summer 2022 (1).pdf' %}" >
    <h4 style='font-family: Chilanka, cursive; font-size: 38px; font-weight: 900; color: blue; '>Kidz Kamp Summer Flyer</h4> 
</a>

<ul style=' font-size: 20px; font-weight: bolder; color: black;'>
  <li>
    Daily Enrollment: Use the codes corresponding to the date you need. See attached <a target="_blank" href="{% static 'Summer 2023 Flyer with Codes.pdf' %}">Rate Sheet</a> 
   </li>
<li> During the summer and holiday break camps, we are open from 7:30am to 5:30pm offering a full day of care. </li>
<li>
 Daily structured games, arts and crafts, science experiments, reading, school work help and snack are all provided during these programs.
</li>
<li> Our summer program includes weekly field trips, all of which are local and in safe and controlled establishments.</li>
</ul>
</div>
    <div style="font-weight: 400;">
    <table style='background-color: #efee4d; color: black; font-weight: bolder;'  class="table">
        <thead>
          <tr>
            <th style='font-size: 24px;' scope="col">Week/Field Trip</th>
            <th style='font-size: 24px;' scope="col">Weekly Rate</th>
            <th style='font-size: 24px;' scope="col">Weekly Enrollment</th>
            <th style='font-size: 24px;' scope="col">Daily Rate</th>
            <th style='font-size: 24px;' scope="col">Daily Enrollment</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">June 15th-16th</th>
            <td>$95.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106068?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">June 19th - 23th     <b>Rockin Jump</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106072?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
            
          </tr>
          <tr>
            <th scope="row">June 26th - June 30th   <b>Get Air Trampoline Park</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106077?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td>
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">July 3rd - July 7th</th>
            <td>$169.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106082?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">July 10th - July 14th      <b>Jump Around Now</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106087?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">July 17th - July 21th     <b>Jump Around Now</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106093?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">July 24th - July 28th     <b>San Diego Padres Game</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106098?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          
          <tr>
            <th scope="row">July 31st - August 4th     <b>Rockin Jump</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106103?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">August 7th - August 11th     <b>Bowling</b></th>
            <td>$232.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106108?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <tr>
            <th scope="row">August 14th - August 17th     <b>No Trip</b></th>
            <td>$169.00</td>
            <td>
              <a target="_blank" href="https://anc.apm.activecommunities.com/sdparkandrec/activity/search/detail/106113?onlineSiteId=0&from_original_cui=true" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$53.00</td>
            <td> 
              <a target="_blank" href='https://anc.apm.activecommunities.com/sdparkandrec/activity/search?onlineSiteId=0&days_of_week=0000000&activity_select_param=2&season_ids=48&activity_keyword=kidz%20kamp&viewMode=list'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            
          </tr>
          <!-- <tr>
            <th scope="row wrap">August 22nd - August 26th</th>
            <td>$221.00 
            </td>
            <td>
              <a target="_blank" href="https://apm.activecommunities.com/sdparkandrec/Activity_Search/doyle-park-kidz-kamp/100127" class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td>
            <td>$50.00</td>
            <td> 
              <a target="_blank" href='https://apm.activecommunities.com/sdparkandrec/Activity_Search'  class="btn btn-primary " style='font-family: Roboto Mono, ; align-items: center; color: white;'>Click Here</a>
            </td> -->
            
          </tr>
        </tbody>
      </table>
      </div>
      
      <!--  <div   class='container-fluid'> -->
        <h5 style='font-family: Chilanka, cursive; font-size: 38px; font-weight: 900; color: blue; display: flex; justify-content: center ; '>Summer Checklist</h5>
       <div class=' d-flex justify-content-around'>
        <img class=" shadow-lg p-3 mb-5 bg-body rounded " style='max-width: 400px; max-height: 500px;'  src="{% static 'WebsitePads (1).png'%}" alt="Logo">
        
        <ul  style='font-size: 24px; color: black; font-weight: bolder;'>
          
          <li>
            Drop off Anytime After 7:30am
          </li>
          
          <li>
            Pick up Anytime Before 5:30pm
          </li>
          
            <li>
              Parent/Guradian Sign-In and Sign-Out
            </li>
            
            <li>
              Registration Form Submitted
            </li>

          <li>
            Lunch
          </li>
          
          <li>
            Snack
          </li>
          
          <li>
            Water Bottle
          </li>
          
          <li>
            Sunscreen
          </li>
          <li>
            Field Trip Waiver 
          </li>
          
         
            
        </ul>
      </div>
          
        
              
      <!-- </div> -->
    <!-- <a href="{% url 'summer_create'%}" class="btn btn-dark" style='font-family:Chilanka, cursive; font-size: 20px; '>
      Reserve A Spot Now
    </a> -->
      



{% endblock %}