body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FFFFFF;
  }

  main {
    flex: 1 0 auto;
  }

  #header-pic{
      max-width: max-content;
      height: 800px;
  }